.wy-nav-side {
  background-color: #2f2f2f;
}

.wy-side-nav-search {
  background-color: #26599b;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #4c98d2;
}


@media screen and (min-width:1100px) {
 .wy-nav-content-wrap {
  background-color: rgb(38,89,155, 0.2);
 }
 .wy-nav-content {
  background-color: #f6f6f6;
 }
}

.wy-menu-vertical li.current > a, .wy-menu-vertical li.on a {
  background-color: #f6f6f6;
}

.wy-menu-vertical li.current > a:hover, .wy-menu-vertical li.on a:hover {
  background-color: #dcd42a;
}

.wy-side-nav-search .wy-dropdown > a img.logo,
.wy-side-nav-search > a img.logo {
  width: 12rem;
  padding-right: 0.8rem;
}

.wy-side-nav-search .wy-dropdown > a,
.wy-side-nav-search > a {
  margin-bottom: 0.4rem;
}
